*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#fdf7f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.logo{
    width:350px;
    max-width:90%;
}
